.c-item{

    height: 450px;
}

.c-img{

    height: 100%;
    object-fit: cover;
}

body {
    font-family: Arima, Oswald;
}

p{
    font-size: 12px;
}

h5{
    font-size: 10px;
}

.card-img-top {
    height: 200px; /* Set a fixed height */
    object-fit: cover; /* Cover the area */
}
